*{box-sizing: border-box; color:red}

body{margin:0px}

.container{
  height:100vh;
  margin:0px;
  background: linear-gradient(65deg, rgb(10, 2, 34),rgb(122, 81, 244));
  display:flex;
  justify-content: center;

  
  
}

.logon-box{
  background-color: white;
  height:40vh;
  width:60vh;
  border-radius: 15px;
  align-self: center;
}

.top-logon-box{
  height:20%;
  vertical-align:middle;
  padding:10px;
  background:linear-gradient(90deg, rgb(167, 160, 160), rgb(255, 255, 255)) border-box
}

.bottom-logon-box{
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: pink;
  height: 80%;
  
 
}

.logon-form{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center



}